In [259]:
import numpy as np
import pandas as pd
import timeit

['00:06,A,1,5.6',
 '00:05,A,1,5.6',
 '00:05,B,1,5.6',
 '00:00,B,1,5.6',
 '00:00,A,1,5.6',
 '00:02,A,1,5.6',
 '00:02,B,1,5.6',
 '00:03,A,1,5.6',
 '00:03,C,1,5.6',
 '00:04,A,1,5.6']

In [297]:
# test_input.sort()
sorted_input=sorted(test_input)
sorted_input

['00:00,A,1,5.6',
 '00:00,B,1,5.6',
 '00:02,A,1,5.6',
 '00:02,B,1,5.6',
 '00:03,A,1,5.6',
 '00:03,C,1,5.6',
 '00:04,A,1,5.6',
 '00:05,A,1,5.6',
 '00:05,B,1,5.6',
 '00:06,A,1,5.6']

In [298]:
df2=df.drop(['cumulative_notional'],axis=1)
df2['cumulative_quantity'] = df.groupby(['ticker'])['cumulative_quantity'].cumsum()
df2

  timestamp ticker  cumulative_quantity
0     00:00      A                    1
1     00:00      B                    1
2     00:02      A                    2
3     00:02      B                    2
4     00:03      A                    3
5     00:04      A                    4
6     00:05      A                    5
7     00:05      B                    3
8     00:06      A                    6

In [299]:
cumulative_quantity=0
cumulative_notional=0.0
# adding quantity
cumulative_quantity+=(int)(sorted_input[0].split(",")[2])
# adding notional value
cumulative_notional+=(float)(sorted_input[0].split(",")[3])
cumulative_quantity
cumulative_notional

5.6

In [318]:
df = pd.DataFrame(test_input, columns=None )
df = df.drop_duplicates()
df.sort_values(0, inplace=True)
df.reset_index(inplace=True)
df[0].str.strip()
df[['timestamp', 'ticker', 'cumulative_quantity','cumulative_notional']]=df[0].str.split(',', expand=True)
df.drop([0,'index'], inplace=True, axis=1)
df.columns = df.columns.str.strip()
df=df.astype({'cumulative_quantity': 'int64','cumulative_notional': 'float64'})
df

  timestamp ticker  cumulative_quantity  cumulative_notional
0     00:00      A                    1                  5.6
1     00:00      B                    1                  5.6
2     00:02      A                    1                  5.6
3     00:02      B                    1                  5.6
4     00:03      A                    1                  5.6
5     00:03      C                    1                  5.6
6     00:04      A                    1                  5.6
7     00:05      A                    1                  5.6
8     00:05      B                    1                  5.6
9     00:06      A                    1                  5.6

In [319]:
df[['cumulative_quantity','cumulative_notional']] = df.groupby(['ticker']).cumsum()
df

  timestamp ticker  cumulative_quantity  cumulative_notional
0     00:00      A                    1                  5.6
1     00:00      B                    1                  5.6
2     00:02      A                    2                 11.2
3     00:02      B                    2                 11.2
4     00:03      A                    3                 16.8
5     00:03      C                    1                  5.6
6     00:04      A                    4                 22.4
7     00:05      A                    5                 28.0
8     00:05      B                    3                 16.8
9     00:06      A                    6                 33.6

In [321]:
group = df.groupby(['timestamp','ticker'])
df=group.agg({'cumulative_quantity':'sum','cumulative_notional':'sum'})
df.reset_index()
df
# df.index

                  cumulative_quantity  cumulative_notional
timestamp ticker
00:00     A                         1                  5.6
          B                         1                  5.6
00:02     A                         2                 11.2
          B                         2                 11.2
00:03     A                         3                 16.8
          C                         1                  5.6
00:04     A                         4                 22.4
00:05     A                         5                 28.0
          B                         3                 16.8
00:06     A                         6                 33.6

In [315]:
# df = df['timestamp'].str.cat(df[['ticker', 'cumulative_quantity','cumulative_notional']], sep=',')
#,index=False 
x = df.to_string(header=False, index_names=False).split('\n')
x

['00:00 A  1   5.6',
 '00:00 B  1   5.6',
 '00:02 A  2  11.2',
 '00:02 B  2  11.2',
 '00:03 A  3  16.8',
 '00:03 C  1   5.6',
 '00:04 A  4  22.4',
 '00:05 A  5  28.0',
 '00:05 B  3  16.8',
 '00:06 A  6  33.6']

In [305]:
",".join(x)

'00:00 A  1   5.6,      B  1   5.6,00:02 A  2  11.2,      B  2  11.2,00:03 A  3  16.8,      C  1   5.6,00:04 A  4  22.4,00:05 A  5  28.0,      B  3  16.8,00:06 A  6  33.6'

In [257]:
import pandas as pd
def to_cumulative(stream: list):
    df = pd.DataFrame(test_input, columns=None )
    df = df.drop_duplicates()
    df.sort_values(0, inplace=True)
    df.reset_index(inplace=True)
    df[0].str.strip()
    df[['timestamp', 'ticker', 'cumulative_quantity','cumulative_notional']]=df[0].str.split(',', expand=True)
    df.drop([0,'index'], inplace=True, axis=1)
    df.columns = df.columns.str.strip()
    df=df.astype({'cumulative_quantity': 'int64','cumulative_notional': 'float64'})
    df[['cumulative_quantity','cumulative_notional']] = df.groupby(['ticker']).cumsum()
    group = df.groupby(['timestamp','ticker'])
    df=group.agg({'cumulative_quantity':'sum','cumulative_notional':'sum'})
    df.reset_index()
    x = df.to_string(header=False, index_names=False).split('\n')
    return ",".join(x)

In [264]:
to_cumulative(test_input)

'00:00 A  1   5.6,      B  1   5.6,00:02 A  2  11.2,00:05 A  3  16.8,      B  2  11.2,00:06 A  4  22.4'

In [286]:
mysetup="import pandas"
timeit.timeit(setup = mysetup, stmt='to_cumulative(test_input)', globals=globals(), number = 1000)

4.542753899999298

0.025164499998936662